


/*haut de la page*/

#logo
{
    background-color: #009688;
}

.entete
{
    margin: auto;
    width: 565px;
    padding: 77px;
    text-align: center;;
}

/*menus*/

img
{
    width: 100%;
    height: auto;
    display: block;
}

#content
{
    display: flex;
    flex-direction: column;
}

#top
{
    display: flex;
    margin: auto;
    justify-content: center;
}

#bottom
{
    display: flex;
    margin: auto;
    justify-content: center;
}

.menu
{
    box-shadow: 1px 1px 19px #b7b6b6;
    margin: 55px;
    width: 600px;
}

.fullm
{
    width: 70%;
    margin: auto;
}

#titre 
{
    text-align: center;
    font-size: 58px;
    font-weight: bold;
}

/*bas de page*/

#next
{
    text-align: center;
    background-color: #009688;
    color: #FFE082;
    margin-bottom: 125px;
    margin-right: 43%;
    margin-left: 43%;
    font-size: 32px;
    border-radius: 5px;
}

footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #009688;
    color: #FFE082;
    font-size: 32px;
    align-items: center;
}

a{
    color: #FFE082;
    text-decoration: none;
}

/*menu la note enchantée*/

@font-face 
{
    font-family: 'segoeprint';
    src: url('webfonts/segoeprint.eot');
    src: url('webfonts/segoeprint.eot?#iefix') format('embedded-opentype'),
        url('webfonts/segoeprint.woff') format('woff'),
        url('webfonts/segoeprint.ttf') format('truetype'),
        url('webfonts/segoeprint.svg') format('svg');
}

#m_section
{
    display:flex;
    flex-direction: column;
}

.dish
{
    display: flex;
    justify-content: space-between;
    margin-right: 17%;
    margin-left: 17%;
}

#menu_lne
{
    background-color: #ffebee;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    font-family: "Segoe Print";
}
