/*Full page*/

body{
    margin: 0;
}

#legal{
    margin: 5% 15% 10%;
    padding: 45px 67px 40px;
    background-color: #579C87;
}

/*haut de la page*/

#logo{
    background-color: #579C87;
}

.entete{
    margin: auto;
    width: 565px;
    padding: 77px;
    text-align: center;;
}

/*menus*/

.m_section{
    display:flex;
    flex-direction: column;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

#content{
    display: flex;
    flex-direction: column;
}

#top{
    display: flex;
    margin: auto;
    justify-content: center;
}

#bottom{
    display: flex;
    margin: auto;
    justify-content: center;
}

.fullm{
    width: 70%;
    margin: auto;
}

/*titres*/

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-top: 65px;
    margin-bottom: 23px;
    text-align: center;
}


/*bas de page*/

#next{
    text-align: center;
    background-color: #579C87;
    color: #FDCB46;
    margin: 1em 0 4em;
    font-size: 55px;
    border-radius: 0.4em;
    font-family: 'Poppins', sans-serif;
    border: 0;
    padding: 15px 1em 15px 1em;
}

#foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #579C87;
    color: #FDCB46;
    font-size: 32px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;

}

a{
    color: #FDCB46;
    text-decoration: none;
}

#mentions{
    margin-left: 1em;
}

#contact{
    margin-right: 1em;
}

/*menu la note enchantée*/

@font-face {
    font-family: 'segoeprint';
    src: url('webfonts/segoeprint.eot');
    src: url('webfonts/segoeprint.eot?#iefix') format('embedded-opentype'),
        url('webfonts/segoeprint.woff') format('woff'),
        url('webfonts/segoeprint.ttf') format('truetype'),
        url('webfonts/segoeprint.svg') format('svg');
}

@font-face {
    font-family: 'devonshire';
    src: url('webfonts/devonshire-Regular.eot');
    src: url('webfonts/devonshire-Regular.eot?#iefix') format('embedded-opentype'),
        url('webfonts/devonshire-Regular.woff') format('woff'),
        url('webfonts/devonshire-Regular.ttf') format('truetype'),
        url('webfonts/devonshire-Regular.svg') format('svg');
}

.dish{
    display: flex;
    justify-content: space-between;
    margin-right: 7em;
    margin-left: 7em;
}

#menu_lne{
    background-color: #ffebee;
    text-align: center;
    margin-right: 29em;
    margin-left: 29em;
    margin-bottom: 13em;
    font-family: "segoeprint";
    box-shadow: 1px 1px 19px #b7b6b6;
    color: #3D1319;
}

#lne_top{
    margin: auto;
    padding-top: 5vh;
}

#lne_bot{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw 0 3.5vw;
}

#logo_top{
    width: 9vw;
    margin: auto;
}

#logo_bot{
    width: 14vh;
}

#top_title{
    font-family: "devonshire";
    font-size: 3.5vw;
}

#bot_title{
    font-family: "devonshire";
    font-size: 2.5vw;
}

.lne_title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 6em;
    padding-left: 6em;
}

.hr_lne{
    border: solid #3D1319 2px;
    width: 40vh;
    height: 0;
}


.h2_lne{
    flex-basis: 30vh;
    white-space: nowrap;
}


/*Menu le chic a la francaise*/

@font-face {
    font-family: 'notoserif';
    src: url('webfonts/notoserif-regular.eot');
    src: url('webfonts/notoserif-regular.eot?#iefix') format('embedded-opentype'),
        url('webfonts/notoserif-regular.woff') format('woff'),
        url('webfonts/notoserif-regular.ttf') format('truetype'),
        url('webfonts/notoserif-regular.svg') format('svg');
}

@font-face {
    font-family: 'serif12';
    src: url('webfonts/serif12beta.eot');
    src: url('webfonts/serif12beta.eot?#iefix') format('embedded-opentype'),
        url('webfonts/serif12beta.woff') format('woff'),
        url('webfonts/serif12beta.ttf') format('truetype'),
        url('webfonts/serif12beta.svg') format('svg');
}

@font-face {
    font-family: 'croissantone';
    src: url('webfonts/croissantone-regular.eot');
    src: url('webfonts/croissantone-regular.eot?#iefix') format('embedded-opentype'),
        url('webfonts/croissantone-regular.woff') format('woff'),
        url('webfonts/croissantone-regular.ttf') format('truetype'),
        url('webfonts/croissantone-regular.svg') format('svg');
}

#menu_lcf{
    font-family: "notoserif";
    text-align: center;
    margin-right: 29em;
    margin-left: 29em;
    margin-bottom: 13em;
    box-shadow: 1px 1px 19px #b7b6b6;
    background-color: #FFF5FE;
    padding-bottom: 125px;
}

#lcf_logo{
    margin: 2em 0 2em;
    font-size: 50px;
    font-family: "croissantone";
    background: linear-gradient(to right,#C67412, #A56799,#6E4CCC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#top_m{
    color: #C67412;
}

#mid_m{
    color: #A56799;
}

#bot_m{
    color: #6E4CCC;
}

.hr_lcf_t{
    border: solid #C67412 2px;
    width: 26%;
    height: 0;
}

.hr_lcf_m{
    border: solid #A56799 2px;
    width: 31%;
    height: 0;
}

.hr_lcf_b{
    border: solid #6E4CCC 2px;
    width: 28%;
    height: 0;
}


.h2_lcf{
    flex-basis: 30%;
    white-space: nowrap;
}

.lcf_title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 6em;
    padding-left: 6em;
    font-family: "serif12";
}

/*Menu le délice des papilles*/

@font-face {
    font-family: 'dancingscript';
    src: url('webfonts/dancing_script.eot');
    src: url('webfonts/dancing_script.eot?#iefix') format('embedded-opentype'),
        url('webfonts/dancing_script.woff') format('woff'),
        url('webfonts/dancing_script.ttf') format('truetype'),
        url('webfonts/dancing_script.svg') format('svg');
}


#menu_ldp{
    font-family: "segoeprint";
    text-align: center;
    margin-right: 29em;
    margin-left: 29em;
    margin-bottom: 13em;
    box-shadow: 1px 1px 19px #b7b6b6;
    background-color: #EDEFEF;
    padding-bottom: 125px;
}

#ldp_logo{
    margin: 2em 0 1em;
    font-size: 70px;
    font-family: "dancingscript";
    background: linear-gradient(to right,#0228DD, #0670F3,#229DF9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 
    /*borders*/
.hr_ldp_t{
    border: solid #0228DD 2px;
    width: 27%;
    height: 0;
}

.hr_ldp_m{
    border: solid #0670F3 2px;
    width: 29%;
    height: 0;
}

.hr_ldp_b{
    border: solid #229DF9 2px;
    width: 30%;
    height: 0;
}


.h2_ldp{
    flex-basis: 30%;
    white-space: nowrap;
}

.ldp_title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 6em;
    padding-left: 6em;
}

/*Menu La palette du goût*/

@font-face {
    font-family: 'kaushanscript';
    src: url('webfonts/kaushanscript-regular.eot');
    src: url('webfonts/kaushanscript-regular.eot?#iefix') format('embedded-opentype'),
        url('webfonts/kaushanscript-regular.woff') format('woff'),
        url('webfonts/kaushanscript-regular.ttf') format('truetype'),
        url('webfonts/kaushanscript-regular.svg') format('svg');
}

#menu_lpg{
    font-family: "segoeprint";
    text-align: center;
    margin-right: 29em;
    margin-left: 29em;
    margin-bottom: 13em;
    box-shadow: 1px 1px 19px #b7b6b6;
    background-color: #EDEFEF;
    padding-bottom: 125px;
    padding-top: 2em;
}

#lpg_logo{
    margin: 1em 0 1em;
    font-size: 75px;
    font-family: "kaushanscript";
    background: linear-gradient(to right,#43973D, #72BF56,#BEFF7F);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

  /*border top*/
.hr_lpg_tb{
    border: solid 2px;
    width: 37%;
    height: 0;
    border-image-source: linear-gradient(to right,#43973D, #72BF56,#BEFF7F);
    border-image-slice: 3;
}

.hr_lpg_ta{
    border: solid 2px;
    width: 37%;
    height: 0;
    border-image-source: linear-gradient(to left,#43973D, #72BF56,#BEFF7F);
    border-image-slice: 3;
}

   /*border middle*/
.hr_lpg_mb{
    border: solid 2px;
    width: 30%;
    height: 0;
    border-image-source: linear-gradient(to right,#43973D, #72BF56,#BEFF7F);
    border-image-slice: 3;
}

.hr_lpg_ma{
    border: solid 2px;
    width: 30%;
    height: 0;
    border-image-source: linear-gradient(to left,#43973D, #72BF56,#BEFF7F);
    border-image-slice: 3;
}

   /*border bottom*/
.hr_lpg_bb{
    border: solid 2px;
    width: 30%;
    height: 0;
    border-image-source: linear-gradient(to right,#43973D, #72BF56,#BEFF7F);
    border-image-slice: 3;
}

.hr_lpg_ba{
    border: solid 2px;
    width: 30%;
    height: 0;
    border-image-source: linear-gradient(to left,#43973D, #72BF56,#BEFF7F);
    border-image-slice: 3;
}


.h2_lpg{
    flex-basis: 30%;
    white-space: nowrap;
}

.lpg_title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 6em;
    padding-left: 6em;
}


/**ANIMATIONS**/

/**Effet Zoom**/


.menu{
    box-shadow: 1px 1px 19px #b7b6b6;
    margin: 4em;
    max-width: 600px;
    overflow: hidden;
}
.menu img{
    transition: all 1s ease-in-out;
}

.menu:hover img{
    transform: scale(1.2);
    opacity: 0.3;
    transition: all 1s ease-in-out;
}

/**Effet wiggle*/


@keyframes shake {
    10%, 90% {
      transform: translate3d(0, -1px, 0);
    }
    
    20%, 80% {
      transform: translate3d(0, 2px, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(0, -4px, 0);
    }
  
    40%, 60% {
      transform: translate3d(0, 4px, 0);
    }
  }


#mentions:hover, #contact:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

/*Soulignement*/


.line .souligne{
    text-decoration: none;
    transition: background-size .5s;
    height: 5px;
}

.line2 .souligne{
    background: linear-gradient(to top, #C67412, #C67412 0%) no-repeat left bottom / 0 100%;
}

.line3 .souligne{
    background: linear-gradient(to top, #A56799, #A56799 0%) no-repeat left bottom / 0 100%;
}

.line4 .souligne{
    background: linear-gradient(to top, #6E4CCC, #6E4CCC 0%) no-repeat left bottom / 0 100%;
}

.line:hover .souligne{
    background-size: 100% 100%;
}

/*Points de suspension*/

.point{
    opacity: 0;
    display: none;
}

#next:hover .point{
    display:inline;
}

@keyframes point1animation{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    40%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

#next:hover .point1{
    animation: point1animation 2s ease-in-out infinite;
}

@keyframes point2animation{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

#next:hover .point2{
    animation: point2animation 2s ease-in-out infinite;
}

@keyframes point3animation{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

#next:hover .point3{
    animation: point3animation 2s ease-in-out infinite;
}