/*Full page*/

body{
    margin: 0;
}

/*haut de la page*/

#logo{
    background-color: #579C87;
}

.entete{
    margin: auto;
    width: 565px;
    padding: 77px;
    text-align: center;;
}

/*menus*/

.m_section{
    display:flex;
    flex-direction: column;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

#content{
    display: flex;
    flex-direction: column;
    margin-bottom: 180px;
}

#top{
    display: flex;
    margin: auto;
    justify-content: center;
}

#bottom{
    display: flex;
    margin: auto;
    justify-content: center;
}

.menu{
    box-shadow: 1px 1px 19px #b7b6b6;
    margin: 55px;
    width: 600px;
}

.fullm{
    width: 70%;
    margin: auto;
}

#titre {
    text-align: center;
    font-size: 58px;
    font-weight: bold;
}

/*titres*/

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 15px;
}


/*bas de page*/

#next{
    text-align: center;
    background-color: #579C87;
    color: #FDCB46;
    margin-bottom: 188px;
    margin-right: 39%;
    margin-left: 39%;
    font-size: 55px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #579C87;
    color: #FDCB46;
    font-size: 32px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;

}

a{
    color: #FDCB46;
    text-decoration: none;
}

#mentions{
    margin-left: 40px;
}

#contact{
    margin-right: 40px;
}

/*menu la note enchantée*/

@font-face {
    font-family: 'segoeprint';
    src: url('webfonts/segoeprint.eot');
    src: url('webfonts/segoeprint.eot?#iefix') format('embedded-opentype'),
        url('webfonts/segoeprint.woff') format('woff'),
        url('webfonts/segoeprint.ttf') format('truetype'),
        url('webfonts/segoeprint.svg') format('svg');
}

.dish{
    display: flex;
    justify-content: space-between;
    margin-right: 12%;
    margin-left: 12%;
}

#menu_lne{
    background-color: #ffebee;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    font-family: "segoeprint";
    box-shadow: 1px 1px 19px #b7b6b6;
    color: #3D1319;
}


#logo_lne{
    width: 37%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.h2_lne:before, .h2_lne:after {
    content: "";
    width: 248px;
    border: solid #3D1319 3px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 60px;
    margin-right: 60px;
}

.h2_lne{
    display: block;
}

/*Menu le chic a la francaise*/

@font-face {
    font-family: 'notoserif';
    src: url('webfonts/notoserif-regular.eot');
    src: url('webfonts/notoserif-regular.eot?#iefix') format('embedded-opentype'),
        url('webfonts/notoserif-regular.woff') format('woff'),
        url('webfonts/notoserif-regular.ttf') format('truetype'),
        url('webfonts/notoserif-regular.svg') format('svg');
}


#menu_lcf{
    font-family: "notoserif";
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    box-shadow: 1px 1px 19px #b7b6b6;
    background-color: #FFF5FE;
    padding-bottom: 125px;
}

#logo_lcf{
    width: 50%;
    margin: auto;
    padding-top: 125px;
    padding-bottom: 80px;
}

#top_m{
    color: #C67412;
}

#mid_m{
    color: #A56799;
}

#bot_m{
    color: #6E4CCC;
}

.h2_lcf{
    display: block;
}

.h2_lcf:before, .h2_lcf:after {
    content: "";
    width: 248px;
    border: solid #3D1319 3px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 60px;
    margin-right: 60px;
}